.container-1 input#search {
   width: 340px;
   height: 50px;
   background: #5a5a5a;
   border: none;
   font-size: 10pt;
   float: left;
   color:#5a5a5a;
   padding-right: 20px;
   padding-left: 50px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 10px;
   border-radius: 10px;



   -webkit-transition: background .55s ease;
   -moz-transition: background .55s ease;
   -ms-transition: background .55s ease;
   -o-transition: background .55s ease;
   transition: background .55s ease;
}